:root {
  --color-accent: #e25931;
  --color-bg: #e2e8f0;
  --padding: calc(0.8rem + 1.5625vw);
  --card-border-radius: 1rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  accent-color: var(--color-accent);
}

body {
  font-size: calc(1rem + 0.390625vw);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

h1 {
  font-size: calc(2.5rem + 0.390625vw);
}

h2 {
  font-size: calc(2rem + 0.390625vw);
}

h3 {
  font-size: calc(1.75rem + 0.390625vw);
}

h4 {
  font-size: calc(1.5rem + 0.390625vw);
}

p {
  font-size: calc(1rem + 0.390625vw);
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

img {
  display: block;
}

/*#region Layout | Header | Footer */

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.inner {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}

header.outer,
footer.outer {
  background-color: var(--color-accent);
}

header.outer > .inner,
footer.outer > .inner {
  color: #fff;
  text-align: center;
}

/*#endregion*/

/*#region Main */

main.outer {
  background-color: #e2e8f0;
  flex-grow: 1;
  overflow: scroll;
}

main.outer > .inner {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

main h2 {
  color: var(--color-accent);
  font-size: 2rem;
  margin-bottom: 2rem;
}

.form {
  max-width: 400px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.field-hr {
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.field > label {
  color: #666;
  text-transform: uppercase;
}

.field > input[type="text"],
.field > input[type="number"] {
  min-height: 4rem;
  padding: 1rem;
  border-radius: 2rem;
  border: none;
}

.field > input[type="checkbox"] {
  width: 1.6rem;
  height: 1.6rem;
}

.field > button {
  padding: 1rem 2rem;
  border: 1px solid #e25931;

}

.field > button:hover {
  background-color: var(--color-accent);
}

.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.book {
  aspect-ratio: 3 / 2;
  padding: 1rem;
  border-radius: var(--card-border-radius);
  background-image: url(./book.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.book-content {
  backdrop-filter: blur(5px);
  align-self: flex-end;
  padding: 1rem;
}

.book-title {
  font-size: 2em;
}

.book-author {
  font-style: italic;
  margin-bottom: 2rem;
  text-align: right;
}

.book-pages {
  /* font-size: 0.8em; */
}

.book-isread {
  appearance: none;
  width: 4.4rem;
  height: 2.4rem;
  border: 2px solid #eee;
  position: relative;
  border-radius: 1.2rem;
  background-color: rgba(238, 238, 238, .3);
}

.book-isread:checked {
  background-color: rgba(226, 89, 49, .3);
  border-color: #e25931;
}

.book-isread::before {
  content: '';
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  background-color: #333;
  top: 0.2rem;
  left: 0.2rem;
  border-radius: 50%;
  display: block;
  transition: all 0.2s linear;
}

.book-isread:checked::before {
  left: 2.2rem;
  transition: all 0.2s linear;
}

.book-del {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 1.6rem;
  border: none;
  background-color: transparent;
  color: #fff;
}

.book button:hover {
  background-color: #333;
}
